.block{
  background: #ccc;
  width: 100%;
  height: 100%;
  position: absolute;
}
.login {
  display: flex;
  margin-top: 80px;
}

.login-block {
  width: 30%;
}

.login-page {
  width: 40%;
  background: white;
  padding: 10px;
}

.form-input {
  // width: 100%;
  // padding: 1.2rem;
  // border: 1px solid #ccc;
  // border-radius: 1rem;
  margin: 1rem;
}

.btn {
  border-radius: 40px;
  border: 0;
  cursor: pointer;
  font-size: 1.8rem;
  font-weight: 600;
  margin: 1.5rem 1rem;
  outline: 0;
  padding: 1rem 1.5rem;
  text-align: center;
  white-space: nowrap;
}

.btn-secondary {
  background: #06bef7;
  color: #fff;
}

h4{
  margin-left: 16px;
  color: #06bef7;
}
