.wrapper {
  display: flex;
  justify-content: space-between;
}

.content {
  height: 260px;
}

.height {
  width: 20rem;
}
.home {
  cursor: pointer;
  margin: 10px 0;
  text-decoration: underline;
}
